
<div th:fragment="footer">
<div id="course_edit_dialog" class="af-dialog">
	<div class="af-dialog-frame" style="width: 400px; height: 120px; padding: 10p">
		<div style="text-align: left;margin: 10px 0px;">课程名称</div>
		<div style="margin: 10px 0px;">
			<input class="title" name="title" style="width: 100%; padding: 6px; box-sizing: border-box;"/>
		</div>
		<div style="text-align: center;margin: 10px 0px;">
			<button role="ok">确定</button>
			<button role="close">取消</button>
		</div>
	</div>
</div>
</div>