<!-- *** index_left.html *** -->

<style>
	/* 左侧菜单区 */
	
	#left {
		position: fixed;
		left: 0px;
		top: 80px;
		width: 180px;
	}
	
	#left .menu {
		margin: 10px;
	}
	
	#left .menu:hover {
		color: #309FE6;
	}
	
	#left .menu img {
		position: absolute;
		left: 6px;
		vertical-align: middle;
	}
	
	#left .menu label {
		position: relative;
		vertical-align: middle;
		margin-left: 30px;
	}
	/* 当前菜单 / 菜单高亮 */
	
	#left .menu-active {
		color: #309FE6;
	}
</style>

<!-- 左侧 -->
<div th:fragment="left">
	<div id='left' >
		<div class='menu'>
			<img src='../images/home.png' th:src="@{/images/home.png}">
			<a class="menu-item" href="course.sudo" th:href="@{~/tiku-spring/course/query}">首页 </a>
		</div>
		
		<div class='menu'>
			<a class="menu-item" href="course.sudo" th:href="@{~/tiku-spring/course/query}">课程管理</a>
		</div>
		
		<div class='menu'>
			<a class="menu-item" href="example.sudo">题库管理</a>
		</div>
		
		<div class='menu'>
			<a class="menu-item" href="">修改密码</a>
		</div>
	</div>

	<script th:fragment="leftjs">
		var MENU = {};
	
		MENU.select = function(item) 
		{
			var eee = $(".menu-item");
			for(var e of eee) 
			{
				var link_text = $(e).text().trim();
				if(link_text == item) 
					$(e).addClass("active");
				else 
					$(e).removeClass("active");
			}
		};
	</script>
</div>